## Matthew Musgrave - Python Homework - PyRamen

In [1]:
# importing libraries and functions that will assist with the analysis
import numpy as np
import pandas as pd
from pathlib import Path
import sys
import csv

In [2]:
# identifying the current path:
print(f"{Path.cwd()}")

C:\Users\Matthew\Documents\Columbia_Boot_Camp\python-homework\PyRamen

In [3]:
# initializing menu list:
menu = []

# setting the file path using relative path:
csvmenu = Path("../PyRamen/Resources/menu_data.csv")

# opening CSV file and assigning to csvmenu variable:
with open(csvmenu, 'r') as csvfile:
    csvmenu_read = csv.reader(csvfile, delimiter = ',')
    
    # skipping the header row of the csvfile:
    header = next(csvmenu_read)
    
    # looping over contents of 'csvmenu' and appending to menu list:
    for rows in csvmenu_read:
        menu.append(rows)

In [4]:
# initializing sales list:
sales = []

# setting the file path using relative path:
csvsales = Path("../PyRamen/Resources/sales_data.csv")

# opening CSV file and assigning to csvsales variable:
with open(csvsales, 'r') as csvfile:
    csvsales_read = csv.reader(csvfile, delimiter = ',')
    
    # skipping the header row of the csvfile:
    header = next(csvsales_read)
    
    # looping over contents of 'csvsales' and appending to sales list:
    for rows in csvsales_read:
        sales.append(rows)

In [97]:
# initializing 'report' dictionary:
report = {}

# setting 'Quantity' & 'Menu_items' columns to varables:
drs = pd.read_csv(csvsales)
dfs = pd.DataFrame(drs)
sales_quantity = dfs['Quantity']
sales_menu_item = dfs['Menu_Item']

# initializing the key-value pairs for the particular `sales_item` in the report.
sales_item = {'01-count': 0, '02-revenue': 0, '03-cogs': 0, '04-profit': 0}
report['sales_item'] = sales_item

# Assigning rows in 'Item', 'Price' and 'cost' columns to variables:
drm = pd.read_csv(csvmenu)
dfm = pd.DataFrame(drm)
menu_item = dfm['item']
menu_price = dfm['price']
menu_cost = dfm['cost']

# renaming column from 'item' to 'Menu_Item' to allow for merging:
dfm = dfm.rename(columns={'item':'Menu_Item'})

# merging dataframes using merge function and assigining to variable:
df_merged = dfs.merge(dfm, left_on='Menu_Item', right_on='Menu_Item')

#cacluating quantity, revenue, cost and profit of each menu_item:

,Line_Item_ID,Credit_Card_Number,Quantity,price,cost
count,74124.000000,7.412400e+04,74124.000000,74124.000000,74124.000000
mean,37062.500000,4.987993e+15,1.350521,12.639145,5.907264
std,21397.900014,2.883384e+15,0.789305,1.066947,0.792424
min,1.000000,1.637593e+11,1.000000,11.000000,5.000000
25%,18531.750000,2.498660e+15,1.000000,12.000000,5.000000
50%,37062.500000,4.993348e+15,1.000000,13.000000,6.000000
75%,55593.250000,7.468494e+15,1.000000,14.000000,7.000000
max,74124.000000,9.999826e+15,4.000000,14.000000,7.000000

{'sales_item': {'01-count': 0, '02-revenue': 0, '03-cogs': 0, '04-profit': 0}}